<header>
    <div class="container flex items-center justify-between" style="height: 100%;">
        <a href="#" class="logo">
            <i class="fas fa-globe text-primary"></i>
            <span>ChillarWeb</span>
        </a>
        <nav>
            <ul>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#portfolio">Portafolio</a></li>
                <li><a href="#pricing">Precios</a></li>
                <li><a href="#equipo">Equipo</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
        <div class="flex items-center gap-4">
            <a href="ChillarWeb/#contacto" class="btn btn-primary">Contáctanos</a>
            <button class="mobile-menu-btn" title="button">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </div>
</header>